<section class="bluecards">
    <div class="container-xxl">
      <div class="row justify-content-around">
        <div class="col-lg-3 my-3">
          <div class="card text-bg-secondary" style="min-height: 270px;">
            <div class="card-body text-center text-light">
              <img src="./assets/images/alvo.png" width="60" alt="..." class="my-3">
              <h3 class="card-title">Missão</h3>
              <p class="card-text">
                Oferecer soluções tecnológicas inteligentes para melhorar os processos de diagnósticos de doenças.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 my-3">
          <div class="card text-bg-secondary" style="min-height: 270px;">
            <div class="card-body text-center text-light">
              <img src="./assets/images/visao.png" width="60" alt="..." class="my-3">
              <h3 class="card-title">Visão</h3>
              <p class="card-text">
                Ser referência mundial em sistemas inteligentes de auxílio a diagóstico.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 my-3">
          <div class="card text-bg-secondary">
            <div class="card-body text-center text-light" style="min-height: 270px;">
              <img src="./assets/images/valores.png" width="60" alt="..." class="my-3">
              <h3 class="card-title">Valores</h3>
              <p class="card-text">
                Respeito ao ser humano de forma integral, responsabilidade social, honestidade e seriedade, satisfação do cliente, respeito ao meio ambiente.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>