<footer class="footer footer-background py-5">
    <div class="container-xxl">
        <div class="row justify-content-around mb-5">
            <section class="col-lg-4 my-3">
                <h3 class="text-white mb-4">Fale com a gente</h3>
                <div class="widget-text text-white-50">
                    <p><a href="tel:8622213500">(86) 2221-3540</a></p>
                    <p>
                        <a href="mailto:contato@higiatec.com.br">contato@higiatec.com.br</a>
                    </p>
                    <p>Atendimento de 8h às 17h.</p>
                </div>
            </section>

            <section class="col-lg-4 my-3">
                <h3 class="text-white mb-4">Transparência</h3>
                <div class="widget-text text-white-50">
                    <p>Política de privacidade</p>
                    <p>
                        <a href="#">Conheça a empresa</a>
                    </p>
                </div>
            </section>

            <section class="col-lg-4 my-3">
                <h3 class="text-white mb-4">Receba novidades</h3>
                <label for="newsletter" class="form-label text-white-50">As últimas novidades, postagens e
                    recursos.</label>
                <div class="row">
                    <div class="col-8">
                        <input id="newsletter" class="form-control form-control-sm" type="email" placeholder="E-mail">
                        <div class="form-text">Nunca compartilharemos seu e-mail com ninguém.</div>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-outline-primary btn-sm">Inscrever</button>
                    </div>
                </div>
            </section>
        </div>

        <div class="row justify-content-between align-items-center">
            <div class="col-auto my-5">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <img src="{{ '/assets/images/logohigiabranco.png' | relative_url }}" width="70" alt="...">
                    </div>

                    <div class="col-auto">
                        <div class="text-white">&copy; 2022 Higia Tecnologia LTDA.</div>
                    </div>
                </div>
            </div>

            <div class="col-auto">
                <div class="row justify-content-end align-items-center">
                    <div class="col-auto">
                        <a href="https://instagram.com/higiahealth" target="_blank"
                            title="Abrir Instagram em nova guia">
                            <img src="{{ '/assets/images/instagram.png' | relative_url }}" width="24" alt="Instagram">
                        </a>
                    </div>

                    <div class="col-auto">
                        <a href="#" title="Abrir LinkedIn em nova guia">
                            <img src="{{ '/assets/images/linkedin.png' | relative_url }}" width="24" alt="LinkedIn">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>