.hero-background {
    background-image: url(../images/fundo-quadriculado.png);
    background-repeat: repeat-x;
    background-position: top;
    background-size: auto 900px;
}

.banner-background {
    background-image: url(../images/fundo-ondas.png);
    background-repeat: no-repeat;
    background-size: auto; 
}