@media screen and (min-width: 992px) {
    .banner {
        margin-top: 15rem;
    }
}

.banner {
    padding: 15% 0;
}

.banner-background {
    background-image: url(../images/fundo-ondas.png);
    background-position: bottom;
    background-size: cover;
}