@font-face {
    font-family: 'Hammersmith One';
    src: url('../fonts/HammersmithOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Mukta';
    src: url('../fonts/Mukta-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Georama';
    src: url('../fonts/Georama-SemiBold.ttf') format('truetype');
}

$font-family-sans-serif: "Mukta", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family: "Georama", sans-serif;

$font-size-base: 1.10rem;
$h2-font-size: $font-size-base * 2.5;